@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 300;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Light.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 800;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 900;
  src: local('Metropolis'), url('https://fonts.cdnfonts.com/s/16308/Metropolis-Black.woff') format('woff');
} 